<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngFor="let formGr of form.controls;">
            <h3>Application Number {{form.controls.indexOf(formGr)}}</h3>


            <div *ngFor="let element of formGroupComponent[form.controls.indexOf(formGr)]" class="form-row">
                <app-single-form [element]="element" [form]="formGr">
                </app-single-form>
            </div>
        </div>

        <!-- <div *ngFor="let element of formGr" class="form-row">
            <app-single-form [element]="element" [form]="formGr">
            </app-single-form>
        </div> -->
        <div class="form-row">
            <button type="submit" formstatus>Save</button>
        </div>
    </form>

</div>

<div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>hell{{payLoad}}
</div>